article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0}
body,button,input,select,textarea{font-family:sans-serif}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:"courier new",monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:"";content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ul,ol{margin-left:0;padding:0 0 0 40px}
dd{margin:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
div.tree-top{background:#eee;color:#201f1d;font:12pt "Consolas";padding:10px 10px 0;box-shadow:0 2px 10px 0 rgba(0,0,0,0.50);}
div.tree-top > li > .summary em{font-style:normal;font-weight:bold}
div.tree-top .stamp{border:3px solid #008000;border-radius:5px;padding:0 2px;}
div.tree-top .stamp.await{border-color:#afdbf0;color:#9dde8a;color:#0d3446}
div.tree-top .stamp.failed{border-color:#ff483c;color:#3f0400}
div.tree-top .stamp.passed{border-color:#9dde8a;color:#193810}
div.tree-top .stamp.comment{border-color:#ddd}
div.tree-top ul{margin-top:0}
div.tree-top li{list-style-type:none;margin-top:8px;}
div.tree-top li:not(.no-children) > span{cursor:pointer}
div.tree-top li.branch.commented{color:#808080;}
div.tree-top li.branch.commented > .stamp{border-color:#ddd}
div.tree-top li.assert .stamp.failed{background:#ff483c}
div.tree-top li.assert .stamp.passed{background:#9dde8a}
div.tree-top li.assert.failed table{border-left:4px #ff483c solid}
div.tree-top li.assert.passed table{border-left:4px #9dde8a solid}
div.tree-top li.assert table{font-size:80%;margin:6px 0 12px 40px;border-collapse:separate;border-spacing:5px;}
div.tree-top li.assert table th{border-right:2px rgba(0,0,0,0.12) solid;vertical-align:top;font-weight:400;text-align:right;padding-right:5px}
div.tree-top li.assert table td li{white-space:pre}
div.tree-top .type.number,div.tree-top .type.string{color:#667bef}
div.tree-top .collapsed > ul,div.tree-top .collapsed > table,div.tree-top .collapsed > .handle:not(.plus),div.tree-top .expanded > .handle:not(.minus),div.tree-top .no-children > .handle:not(.dot),div.tree-top .await > .stamp:not(.await),div.tree-top .failed > .stamp:not(.failed),div.tree-top .passed > .stamp:not(.passed),div.tree-top .commented > .stamp:not(.comment){display:none}
div.tree-top .handle{color:#808080;font:bold 120% "Lucidia Console",monospace}
div.tree-top *{-webkit-user-select:none;-khtml-user-select:none;-o-user-select:none;user-select:none}
div.tree-top .summary,div.tree-top table,div.tree-top .summary *,div.tree-top table *{-webkit-user-select:initial;-khtml-user-select:initial;-o-user-select:initial;user-select:initial}
div.tree-top div.logo,div.tree-top div.logo img{height:52.5px;width:60px;*zoom:1}
div.tree-top div.logo img{opacity:.4;position:absolute;right:10px}
