.clearfix
  != form.label("headline")
  .input
    != form.input("headline")
.clearfix
  != form.label("body")
  .input
    != form.input("body")
.clearfix
  != form.label("createdAt")
  .input
    != form.input("createdAt")
.clearfix
  != form.label("updatedAt")
  .input
    != form.input("updatedAt")
