.page-header
  h1 New node

- form_for(node, {action: path_to.nodes(), method: 'POST', id: "node_form"}, function (form) {
  != partial('nodes/form.jade', {locals: {form: form, node: node}})
  .actions
    != form.submit('Create node', {class: 'btn'})
    span= ' or '
    != link_to('Cancel', path_to.nodes(), {class: 'btn'})
- });
