@import normalize
html
  background-color #EEE
.tali-top
  /*\
   *  Background of the whole app
  \*/
  width 100%
  height 100%
  position absolute
  top 0
  #notifications
    position fixed
    right 0
    .notification
      // TODO Make these boxes variable in width
      padding 1px
      background-color #FFF
      border 2px solid #BBB
      border-radius 4px
      margin 2px
  & > ul
    padding 0
    margin 15px
  ul
    &.hidden
      display none
    ul
      margin 1px initial
    li
      margin 3px initial
      list-style-type none
      // Simplyfy this below
      &.expanded > .handle.plus
      &.collapsed > .handle.minus
        display none
      &.expanded > .handle.minus
      &.collapsed > .handle.plus
        display initial
      &.no-children
        & > .handle
          &.plus, &.minus
            display none
          &.dot
            display initial
      .handle
        // Tweak so that - is as wide as +
        font-family "Courier New", x-monospace
        // Tweak so that it's inline with .headline's middle.
        line-height 1.2em
        font-size 150%
        // More visibility
        font-weight 500
        // de-emphasis
        opacity: 0.33
        // Little bit of magic
        text-shadow: 0 0 3px rgba(0,0,0,1);
        // Give a little space to breath
        margin-right 5px
        &.plus, &.minus
          cursor pointer
          //display none // temporal
        &.plus
          //
        &.minus
          //
        &.dot
          //font-size 175%
          //opacity 0.20
          display none
          cursor default
          // Tweak because &middot; is somewhat off to the right
          margin-left -3px
          margin-right (-@margin-left)+5
      .headline
        -webkit-user-select initial
        border none
        width 600px
        height 1.7em
        background-color inherit
        padding 4px
        resize none
        border-radius 5px
        &:focus
          outline none
          -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.15), 0 0 8px #FFF;
        //
      .focusedby
        //display inline-block
        height 100%
        vertical-align middle
        margin auto initial
        //display inline-block
      .body
        display none
      &.focused
        &.ours > .headline
          background #DDD
        &.theirs > .headline
          //background pink
  *
    -webkit-user-select none
