body {
  margin: 0;
}
#mainContentContainer {
  background: #ddd;
  padding: 20px;
}
#mainContentContainer ul#mainTree {
  padding-left: 20px;
}
.entry_container {
  display: block;
}
.entry_container .h_b_wrapper {
  max-width: 600px;
  padding: 3px 2px;
  font: 11pt "Trebuchet MS";
}
.entry_container .h_b_wrapper .headline {
  padding: 2px;
}
.entry_container .h_b_wrapper .headline:before {
  font: 12pt "Consolas";
  color: #666;
  font-weight: 900;
  padding-right: 10px;
  margin-left: -21px;
}
.entry_container .h_b_wrapper .body {
  color: #008000;
}
.entry_container.open > .h_b_wrapper > .headline:before {
  content: "-";
}
.entry_container.closed > .h_b_wrapper > .headline:before {
  content: "+";
}
.entry_container.empty > .h_b_wrapper > .headline:before {
  color: #a3a3a3;
  content: "∙";
}
.entry_container.focused > .h_b_wrapper {
  background: #fff;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin: -2px;
}
